<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>About Us</title>

</head>
<body style="background: #78FFD6; color: #023C40; font-family: 'Source Sans Pro', sans-serif;">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center" style="height: 100vh;">
        <h1 style="color: #023C40; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;text-align:">About Us</h1>
        <br>
        <a href="/" class="btn btn-primary">Homepage</a>
        <br>
        <a href="/cart" class="btn btn-primary">View Cart</a>
    </div>


</body>
</html>
